
#about {
  margin: auto 2.5rem;
  margin-bottom: 3.75rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh
}

#about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

#about-text {
  line-height: 2;
}

#about-icons-container {
  padding: 1.5rem;
  display: flex;
  position: relative;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), -7px -7px 0 var(--secondary);
}

#dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  border-radius: 1rem 100% 1% 1rem / 1rem 100% 1% 1rem;
  font-size: 2rem;
}

#light {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  border-radius: 0 1rem 1rem 0;
  font-size: 2rem;
}

#pencil-icon {
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(50%) rotate(260deg);
}
#paint-icon {
  position: absolute;
  top: 30%;
  right: 40%;
  transform: translateY(-35%) rotate(260deg);
}
#mobile-icon {
  position: absolute;
  bottom: 20%;
  left: 20%;
  transform: translateY(50%) rotate(340deg);
}
#laptop-icon {
  position: absolute;
  bottom: 15%;
  right: 15%;
  transform: rotate(20deg);
}

#ruler-icon {
  position: absolute;
  left: 25%;
  top: 45%;
  transform: rotate(20deg);
}

#terminal-icon {
  position: absolute;
  top: 20%;
  left: 45%;
  transform: rotate(-15deg);
}

#database-icon {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: rotate(-20deg);
}
#server-icon {
  position: absolute;
  top: 7%;
  left: 0;
}
#cogs-icon {
  position: absolute;
  bottom: 10%;
  right: 35%;
  transform: rotate(20deg);
}
#network-icon {
  position: absolute;
  top: 42%;
  right: 20%;
}

@media (max-width: 768px) {
  #about-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #about {
    height: auto;
    margin: auto 1.5rem;
    margin-bottom: 1.5rem;
  }
  #about-icons-container {
    padding: 2rem;
    margin: auto;
    width: 75%;
  }

  #dark {
    font-size: 1.4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3.5%;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 1rem 40% 1% 1rem / 1rem 100% 1% 1rem;
  }

  #pencil-icon {
    margin-left: 10%;
    position: static;
    transform: none;
  }
  #paint-icon {
    position: static;
    transform: none;
  }
  #mobile-icon {
    position: static;
    transform: none;
  }
  #laptop-icon {
    position: static;
    transform: none;
  }

  #ruler-icon {
    display: none;
  }

  #terminal-icon {
    display: none;
    transform: none;
  }

  #light {
    font-size: 1.4rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3.5%;
    flex-wrap: wrap;
    width: 50%;
  }

  #database-icon {
    position: static;
    transform: none;
  }
  #server-icon {
    position: static;
    transform: none;
  }
  #cogs-icon {
    position: static;
    transform: none;
  }
  #network-icon {
    position: static;
    transform: none;
    margin-right: 10%;
  }
  #about-text{
    font-size: 0.875rem;
    margin: auto 0.75rem;
  }
}