:root {
  --primary: hsl(248, 50%, 65%);
  --primary-dark: hsl(248, 50%, 60%);
  --primary-light: hsl(248, 50%, 70%);
  --text: hsl(0,0%,25%);
  --text-muted: hsl(0, 0%, 45%);
  --bg-dark: hsl(0, 0%, 94%);
  --bg: hsl(0, 0%, 97%);
  --bg-light: hsl(0, 0%, 98%);
  --border: hsl(0,0%,95%);
  
  --dark: #1e1e1e;
  --light: #f9f5f5;
  --dark-gray: #3c3a43;
}

[data-theme="dark"] {
  --text: hsl(0, 0%, 90%);
  --text-muted: hsl(0,0%,70%);
  --bg-dark: hsl(0,0%,15%);
  --bg: hsl(0,0%,20%);
  --bg-light: hsl(0,0%,25%);
  --border: hsl(0,0%,95%);
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo_2/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: "Figtree";
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button, input, textarea{
  border: none;
  background-color: transparent;
  outline: none;
}

.neon-secondary {
  text-shadow: 0 0 0px var(--primary), 0 0 10px var(--primary);
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  width: 100%;
}

.underline {
  text-decoration: 2px underline;
  text-underline-offset: 5px;
}

.shape {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--primary), transparent);
  border-radius: 100% 40% 30% 90% / 95% 90% 30% 30%;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  inset: 0;
}

.animate-on-scroll{
  opacity: 0;
  transform: translateY(30px);;
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.animate-on-scroll.visible{
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.title-h2{
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

@media (max-width:768px) {
  .title-h2{
    font-size: 1.25rem;
  }
  .title-h3{
    font-size: 1rem;
  }
  
}
