:root {
  --bg: #f1f3ef;
  --primary: #e9e9e3;
  --secondary: #8175cc;
  --fg: #2c2c2c;
  --secondary-fg: #767383;
  --dark: #2c2c2c;
  --light: #f9f5f5;
  --dark-gray: #3c3a43;
  --card: #f9f9f9;
  --hero-section-bg: #ecece5;
  --secondary-bg: #6e79b8;
  --form-field-bg: #f5f5f5fb;
}

[data-theme="dark"] {
  --bg: #2c2c2c;
  --primary: #232323;
  --secondary: #958bd6;
  --fg: #ededea;
  --secondary-fg: #d2cfcf;
  --card: #383838;
  --hero-section-bg: #232323;
  --secondary-bg: #7a85c1;
}

@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo_2/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Figtree";
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 17px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  /*margin: auto 3rem;*/
}

.neon-secondary {
  text-shadow: 0 0 0px var(--secondary), 0 0 10px var(--secondary);
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  width: 100%;
}

.underline {
  text-decoration: 2px underline;
  text-underline-offset: 5px;
}

.shape {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--secondary), var(--card));
  border-radius: 100% 40% 30% 90% / 95% 90% 30% 30%;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  inset: 0;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}




