:root {
  --primary: hsl(248, 50%, 65%);
  --primary-dark: hsl(248, 50%, 60%);
  --primary-light: hsl(248, 50%, 70%);
  --text: hsl(0, 0%, 25%);
  --text-muted: hsl(0, 0%, 45%);
  --bg-dark: hsl(0, 0%, 94%);
  --bg: hsl(0, 0%, 97%);
  --bg-light: hsl(0, 0%, 98%);
  --border: hsl(0, 0%, 80%);
  --dark: #1e1e1e;
  --light: #f9f5f5;
  --dark-gray: #3c3a43;
}

/*
font-size system: 

small: 14px
normal: 16px
h6: 20px
h5: 22px
h4: 26px
h3:section-title: 34px
h1: 36px

/responsive
small: 14px
normal: 16px
h6: 18px
h5: 20px
h4: 22px
h3:section-title: 28px
h1: 32px
*/

[data-theme="dark"] {
  --text: hsl(0, 0%, 90%);
  --text-muted: hsl(0, 0%, 70%);
  --bg-dark: hsl(0, 0%, 15%);
  --bg: hsl(0, 0%, 20%);
  --bg-light: hsl(0, 0%, 25%);
  --border: hsl(0, 0%, 50%);
}

@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo_2/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-dark);
  color: var(--text);
  font-family: "Figtree";
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 17px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button,
input,
textarea {
  border: none;
  background-color: transparent;
  outline: none;
}

.neon-secondary {
  text-shadow:
    0 0 0px var(--primary),
    0 0 10px var(--primary);
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  width: 100%;
}

.underline {
  text-decoration: 2px underline;
  text-underline-offset: 5px;
}

.shape {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--primary), transparent);
  border-radius: 100% 40% 30% 90% / 95% 90% 30% 30%;
  position: absolute;
  z-index: 0;
  opacity: 0.9;
  inset: 0;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.section-title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }
  .title-h3 {
    font-size: 20px;
  }
}
