
#contact-section {
  margin: 1.5rem auto;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Exo2";
  margin: 1rem 2.5rem;
}

.field-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#form input,
#form textarea {
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: "Figtree";
  font-size: 0.875rem;
  background-color: var(--form-field-bg);
  border: 2px solid transparent;
  width: 100%;
}

#form input:focus,
#form textarea:focus {
  box-shadow: 0 0 2px var(--secondary);
  border: 2px solid var(--secondary);
}

textarea {
  resize: vertical;
}

#submit-btn {
  outline: none;
  border: none;
  padding: 1rem 5rem;
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--light);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
  border: 2px solid var(--bg);
  text-transform: uppercase;
  box-shadow: 5px 5px 0 var(--secondary);
}

#submit-btn:hover {
  scale: 1.05;
  background-color: var(--secondary-bg);
  box-shadow: 5px 5px 0 var(--secondary-bg);
  transition: all 0.2s ease-in-out;
}

#submit-btn:active {
  box-shadow: 1px 1px 0 var(--secondary);
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
}

#message-result {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card);
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}

#close-message-btn {
  position: absolute;
  top: 2px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--secondary);
}

#close-message-btn:hover {
  color: var(--fg);
  transition: all 0.2s ease-in-out;
}

#success-icon,
#error-icon {
  font-size: 1.5rem;
  display: none;
}

#success-icon {
  color: green;
}

#error-icon {
  color: red;
}

@media (max-width: 768px){
  #contact-section {
  margin: 0.875rem auto;
  }
  #form {
    gap: 1.125rem;
    font-size: 0.875rem;
    margin-top: 1.5rem;
  }
  #submit-btn {
    padding: 0.5rem 2rem;
    font-size: 0.875rem;
  }
  #form input,
  #form textarea {
    padding: 0.5rem;
  }
}