#contact-section {
  margin-bottom: var(--space-12);
}
#contact-section .section-title {
  margin-bottom: var(--space-8);
}
#form {
  display: flex;
  flex-direction: column;
  font-family: "Exo2";
}

#message-word-counter {
  font-size: var(--fs-sm);
  color: var(--text-muted);
}

.field-div {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  margin-bottom: var(--space-6);
}

#name-and-email-fields {
  display: flex;
  justify-content: none;
  flex-direction: column;
  gap: 0rem;
}

#name-and-email-fields .field-div {
  flex: 1;
}

#contact-row {
  display: flex;
  gap: var(--space-10);
  margin: 0 2.5rem;
}

#contact-row h3 {
  text-transform: capitalize;
  font-size: var(--fs-xl);
  margin-bottom: var(--space-2);
}

#contact-row form {
  flex-grow: 1;
}

#form input,
#form textarea {
  padding: var(--space-2);
  border-radius: var(--rounded-md);
  outline: none;
  border: none;
  font-family: "Figtree";
  background-color: var(--bg-light);
  color: var(--text);
  border: 2px solid var(--border);
  width: 100%;
  transition:
    border 0.3s ease-out,
    box-shadow 0.3s ease-out;
  font-size: var(--fs-base);
}

#form input:focus,
#form textarea:focus {
  box-shadow: var(--shadow-md);
  border: 2px solid var(--primary);
}

#form label {
  display: flex;
  gap: var(--space-2);
  align-items: center;
}

textarea {
  resize: vertical;
}

#submit-btn {
  padding: var(--space-2) var(--space-8);
  background-color: var(--primary);
  border-radius: var(--rounded-xl);
  color: var(--light);
  font-weight: bold;
  font-size: var(--fs-base);
  cursor: pointer;
  margin: auto;
  border: 2px solid var(--light);
  text-transform: uppercase;
  box-shadow: 5px 5px 0 var(--primary-light);
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

#submit-btn:hover {
  scale: 1.05;
  background-color: var(--primary-light);
  box-shadow: 5px 5px 0 var(--primary-light);
  transition: all 0.2s ease-in-out;
}

#submit-btn:active {
  box-shadow: 1px 1px 0 var(--primary);
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
  border: none;
}

#check-icon {
  font-size: var(--fs-md);
}

#message-result {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-light);
  font-weight: bold;
  border-radius: var(--rounded-2xl);
  padding: var(--space-4) var(--space-8);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
  box-shadow: var(--shadow-lg);
}

#close-message-btn {
  font-size: var(--fs-xl);
  position: absolute;
  top: var(--space-1);
  right: var(--space-2);
  background: none;
}

#close-message-btn:hover {
  color: var(--text);
  transition: all 0.2s ease-in-out;
}

#success-icon,
#error-icon {
  display: none;
}

#success-icon {
  color: green;
}

#error-icon {
  color: red;
}

#ready-to-collaborate {
  display: none;
}

@media (min-width: 768px) {
  #contact-section .section-title {
    margin-bottom: var(--space-10);
  }
  #contact-section {
    margin-bottom: var(--space-16);
  }
  #submit-btn {
    padding: var(--space-4) var(--space-16);
  }

  #form input,
  #form textarea {
    padding: var(--space-2);
  }

  .field-div {
    margin-bottom: var(--space-8);
  }

  #name-and-email-fields {
    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-4);
  }

  #ready-to-collaborate {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  #work-together-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    margin: var(--space-10) 0;
  }
}

@media (min-width: 1024px) {
  #contact-row {
    gap: calc(var(--space-16) + 1rem);
  }
}
