#form {
  display: flex;
  flex-direction: column;
  font-family: "Exo2";
  margin: 0 2.5rem;
}

#contact-section .section-title {
  margin-bottom: 1.5rem;
}

#contact-section {
  margin-bottom: 5rem;
}

#message-word-counter {
  font-size: 14px;
  color: var(--text-muted);
}

.field-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

#form input,
#form textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-family: "Figtree";
  background-color: var(--bg-light);
  color: var(--text);
  border: 2px solid var(--border);
  width: 100%;
  font-size: 16px;
  transition: border 0.3s ease-out;
}

#form input:focus,
#form textarea:focus {
  box-shadow: 0 0 2px var(--primary);
  border: 2px solid var(--primary);
}

textarea {
  resize: vertical;
}

#submit-btn {
  padding: 1rem 5rem;
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--light);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  margin-top: 1rem;
  border: 2px solid var(--light);
  text-transform: uppercase;
  box-shadow: 5px 5px 0 var(--primary-light);
}

#submit-btn:hover {
  scale: 1.05;
  background-color: var(--primary-light);
  box-shadow: 5px 5px 0 var(--primary-light);
  transition: all 0.2s ease-in-out;
}

#submit-btn:active {
  box-shadow: 1px 1px 0 var(--primary);
  transform: translateY(2px);
  transition: all 0.1s ease-in-out;
}

#message-result {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-light);
  font-weight: bold;
  border-radius: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}

#close-message-btn {
  font-size: 26px;
  position: absolute;
  top: 4px;
  right: 0.5rem;
  background: none;
}

#close-message-btn:hover {
  color: var(--text);
  transition: all 0.2s ease-in-out;
}

#success-icon,
#error-icon {
  display: none;
}

#success-icon {
  color: green;
}

#error-icon {
  color: red;
}

@media (max-width: 768px) {
  #submit-btn {
    padding: 0.5rem 2rem;
  }
  #form input,
  #form textarea {
    padding: 0.5rem;
  }
  .field-div {
    margin-bottom: 1.5rem;
  }
}
