
#hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--card);
  gap: 1rem;
  margin: 2.5rem 3rem 5rem 3rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-right: solid 0.4rem var(--secondary);
}

#hero-button {
  align-self: start;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: var(--light);
  background-color: var(--dark);
  font-family: "Exo2";
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 1rem;
  text-transform: uppercase;
  border: 2px solid var(--bg);
  opacity: 0.9;
}

#hero-button:hover {
  background-color: var(--secondary);
  box-shadow: 5px 8px 0px var(--secondary);
  transition: all 0.2s ease-in-out;
}

#profile-pic {
  width: 15rem;
  height: 20rem;
  border-radius: 100%;
  padding: 0 1rem;
  z-index: 1;
  position: relative;
}


#hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
}
#presentation-text {
  letter-spacing: 1.4px;
  color: var(--secondary-fg);
}

#social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: start;
  opacity: 0.9;
  flex-wrap: wrap;
}

#social-icons a {
  color: var(--secondary);
  font-size: 1.5rem;
  transition: transform 0.2s, color 0.3s;
}

#social-icons a:hover {
  transform: scale(1.2);
  color: var(--fg);
}

#hero-title{
  text-align: left;
  width: 100%;
}


@media (max-width: 768px) {
  #hero-section {
    margin-top: 1rem;
    gap: 0;
    margin-bottom: 0;
    margin: 1rem;
    padding: 1rem;
  }
  #hero-text {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  #profile-pic {
    width: 8rem;
    height: auto;
  }
  #hero-title {
    font-size: 1.5rem;
    text-align: center;
  }
  #presentation-text {
    text-align: center;
  }
  #hero-button {
    font-size: 0.875rem;
  }
  #social-icons{
    justify-content: center;
  }
}