
#hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--card);
  gap: 1rem;
  margin: 2.5rem 3rem 5rem 3rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-right: solid 0.4rem var(--secondary);
}

#hero-button {
  align-self: start;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  color: var(--light);
  background-color: var(--dark);
  font-family: "Exo2";
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-transform: uppercase;
  border: 2px solid var(--bg);
  opacity: 0.9;
}

#hero-button:hover {
  background-color: var(--secondary);
  box-shadow: 5px 8px 0px var(--secondary);
  transition: all 0.2s ease-in-out;
}

#profile-pic {
  width: 15rem;
  height: 20rem;
  border-radius: 100%;
  padding: 0 1rem;
  z-index: 1;
  position: relative;
}


#hero-text {
  flex: 1;
  min-width: 200px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
  font-size: 1.1rem;
}
#presentation-text {
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  #hero-section {
    margin-top: 1rem;
    gap: 0rem;
    margin-bottom: 0rem;
    margin: 1rem 1.5rem 0rem 1.5rem;
    padding: 1rem;
  }
  #hero-text {
    margin: 0 0.2rem;
    text-align: center;
    font-size: 1rem;
    padding: 15px;
  }
  #profile-pic {
    width: 7rem;
    height: auto;
  }
  #hero-title {
    font-size: 1.7rem;
  }
  #presentation-text {
    text-align: center;
  }
}