#hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  gap: 1rem;
  margin: 3rem 3rem 6rem 3rem;
  padding: 2rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-right: solid 0.4rem var(--primary);
}

#hero-title {
  font-size: 36px;
  margin-bottom: 1rem;
}

#hero-button {
  background-color: var(--dark);
  align-self: start;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 14px;
  border: 2px solid var(--light);
}

#hero-button:hover {
  background-color: var(--primary-light);
  box-shadow: 5px 8px 0px var(--primary-light);
  transition: all 0.2s ease-in-out;
}

#profile-pic {
  width: 16rem;
  height: 20rem;
  border-radius: 100%;
  padding: 0 0.8rem;
  z-index: 1;
  position: relative;
}

#hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
}
#presentation-text {
  letter-spacing: 1.4px;
  line-height: 2;
  margin-bottom: 2.5rem;
}

#social-icons {
  display: flex;
  gap: 1rem;
}

#social-icons a {
  color: var(--primary);
  font-size: 30px;
  transition:
    transform 0.2s,
    color 0.3s;
}

#social-icons a:hover {
  transform: scale(1.2);
  color: var(--text);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #hero-section {
    gap: 0;
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    padding: 1rem;
  }
  #hero-text {
    margin: 0;
    text-align: center;
    padding: 2rem;
  }
  #profile-pic {
    display: none;
  }
  #hero-title {
    font-size: 32px;
    text-align: center;
  }
  #presentation-text {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .links {
    justify-content: center;
  }
}
