#navbar-desktop {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--space-2) var(--space-4);
  background-color: var(--dark);
  border-bottom: var(--space-2) solid var(--primary);
  z-index: 2;
}

#logo {
  font-size: var(--fs-lg);
}

.navbar-item {
  text-decoration: none;
  color: var(--light);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--rounded-lg);
}
.navbar-item:hover {
  background-color: var(--dark-gray);
}

#navbar-items {
  display: none;
}

.language-switcher {
  outline: none;
  color: var(--light);
  background-color: var(--dark-gray);
  border: 2px solid var(--dark-gray);
  font-size: var(--fs-base);
}

.language-switcher:focus {
  border: 2px solid var(--primary);
  accent-color: var(--primary);
}

#btn-open-menu {
  display: block;
}

#btn-open-menu {
  display: block;
}
#navbar-items {
  display: none;
}
#menu-mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  word-break: break-all;
  justify-content: space-around;
  align-items: center;
  font-size: var(--fs-base);
  top: 0;
  left: 0;
  width: 45vw;
  height: 100%;
  background-color: var(--dark-gray);
  color: white;
  border-right: 7px solid var(--primary);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  opacity: 1;
}

.toggle-icon {
  color: var(--light);
  font-size: var(--fs-2xl);
}
#logo {
  font-size: var(--fs-lg);
}

#navbar-options {
  display: none;
}

@media (min-width: 768px) {
  #navbar-mobile {
    display: none;
  }
  #menu-mobile {
    display: none;
    opacity: 0;
  }
  #logo {
    font-size: var(--fs-xl);
  }

  #navbar-desktop {
    padding: var(--space-3) var(--space-4);
  }

  .navbar-item {
    padding: var(--space-1) var(--space-4);
  }

  #navbar-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: var(--space-1);
    font-weight: bold;
    align-items: center;
    color: var(--light);
  }

  .language-switcher {
    font-size: var(--fs-sm);
  }

  #navbar-options {
    display: flex;
    list-style: none;
    align-items: center;
    gap: var(--space-4);
  }

  #btn-open-menu {
    display: none;
  }
  .moon-icon {
    width: 3rem;
  }
  .sun-icon {
    width: 3rem;
  }
}
