
#navbar-desktop {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 10px;
  background-color: var(--dark);
  border-bottom: 7px solid var(--primary);
  opacity: 0.9;
  z-index: 2;
}

#navbar-mobile {
  display: none;
}
#menu-mobile {
  display: none;
  opacity: 0;
}
#logo{
  font-size: 1.3rem;
}

.navbar-item {
  text-decoration: none;
  color: var(--light);
  padding: 4px 10px;
  border-radius: 10px;
}
.navbar-item:hover {
  background-color: var(--dark-gray);
}

#navbar-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 5px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  color: #ededea;
}

.toggle-icon {
  display: none;
  object-fit: contain;
  object-position: center;
  width: 2.5rem;
}
.toogle-icon:hover {
  scale: 1.1;
}

.language-switcher {
  outline: none;
  color: var(--light);
  background-color: var(--dark-gray);
  border: 2px solid var(--dark-gray);
}

.language-switcher:focus {
  border: 2px solid var(--primary);
  accent-color: var(--primary);
}

#btn-open-menu {
  display: none;
}

@media (max-width: 768px) {
  #btn-open-menu {
    display: block;
  }
  #navbar-items{
    display: none;
  }
  #menu-mobile {
    display: none;
    flex-direction: column;
    position: fixed;
    word-break: break-all;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-color: var(--dark-gray);
    color: white;
    border-right: 7px solid var(--primary);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    opacity: 1;
  }
  .moon-icon {
    width: 3.5rem;
  }
  .sun-icon {
    width: 3.5rem;
  }
}