
#navbar-desktop {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Exo2";
  flex-wrap: wrap;
  padding: 0px 10px;
  background-color: #1b1a1a;
  color: var(--fg);
  border-bottom: 7px solid var(--secondary);
  opacity: 0.9;
}

#navbar-mobile {
  display: none;
}
#menu-mobile {
  display: none;
}

.pointer {
  cursor: pointer;
}

.navbar-item {
  text-decoration: none;
  color: var(--light);
  padding: 4px 10px;
  border-radius: 10px;
}
.navbar-item:hover {
  background-color: var(--dark-gray);
}

.toggle-icon {
  display: none;
  object-fit: contain;
  object-position: center;
  width: 2.5rem;
}
.toogle-icon:hover {
  scale: 1.1;
}

.language-switcher {
  color: var(--light);
  background-color: var(--dark-gray);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Exo2";
  text-transform: uppercase;
  border: 2px solid var(--dark-gray);
}

.language-switcher:focus {
  border: 2px solid var(--secondary);
  accent-color: var(--secondary);
}

#social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: start;
  opacity: 0.9;
  flex-wrap: wrap;
}

#social-icons a {
  color: var(--secondary);
  font-size: 1.8rem;
  transition: transform 0.2s, color 0.3s;
}

#social-icons a:hover {
  transform: scale(1.2);
  color: var(--fg);
}

@media (max-width: 768px) {
  #navbar-desktop {
    display: none;
  }

  #navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: "Exo2";
    flex-wrap: wrap;
    padding: 0px 10px;
    background-color: #1b1a1a;
    color: var(--fg);
    border-bottom: 7px solid var(--secondary);
    z-index: 2;
  }
  #menu-mobile {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-color: var(--dark-gray);
    color: white;
    border-right: 7px solid var(--secondary);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }
  .moon-icon {
    width: 3.5rem;
  }
  .sun-icon {
    width: 3.5rem;
  }
}