
#projects-container {
  margin-top: 2rem;
  background-color: var(--primary-light);
  position: relative;
}

#projects {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin: 1rem 2.5rem;
  gap: 1rem;
  padding: 1rem 0;
  height: 100%;
}

#project-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  flex-grow: 1;
  z-index: 1;
}
#line {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--light);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 10px var(--light);
  z-index: 0;
}



#project-shape {
  width: 80%;
  height: 90%;
  background: linear-gradient(135deg, var(--primary), var(--light));
  border-radius: 50% 70% 60% 40% / 40% 60% 70% 50%;
  position: absolute;
  z-index: 0;
  opacity: 0.75;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project-button {
  background-color: var(--primary-light);
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: "Exo2";
  color: var(--light);
  border: 3px dashed var(--light);
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
}

.project-button:hover {
  border: 3px solid var(--light);
  box-shadow: 0px 0px 10px var(--light);
  transition: all 0.2s ease-in-out;
}

#project-cards-container {
  flex-grow: 2;
  padding: 1.5rem;
  position: relative;
  display: flex;
  justify-content: start;
}

.project-card {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  position: absolute;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 80%;
}

.project-button-active {
  border: 3px solid var(--light);
  box-shadow: 0px 0px 10px var(--light);
}

@media (max-width: 768px){
    
  #projects {
    flex-direction: column;
    align-items: center;
    height: 50vh;
    gap: 2rem;
    margin: auto 1.5rem;
  }
  #project-selection {
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
  }
  #line {
    display: none;
  }

  #project-cards-container {
    width: 100%;
    padding: 0.2rem;
    flex-grow: 1;
    justify-content: center;
  }

  .project-button {
    font-size: 1rem;
  }

  #project-shape {
    display: none;
  }
}