#projects-container {
  margin-bottom: var(--space-12);
  background-color: var(--primary-light);
  padding: var(--space-10) 0;
  width: 100%;
}

#projects-container .section-title {
  color: var(--light);
  margin-bottom: var(--space-8);
}

#projects {
  display: flex;
  justify-content: center;
  margin: var(--space-4) var(--space-10);
  gap: var(--space-4);
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);
  margin: auto var(--space-2);
  padding: var(--space-2) var(--space-6);
}

#project-selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-6);
  position: relative;
  flex-grow: 1;
  z-index: 2;
}
#line {
  display: none;
}

#project-shape {
  display: none;
}
.project-button {
  background-color: var(--primary-light);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--rounded-xl);
  font-size: var(--space-6);
  font-family: "Exo2";
  color: var(--light);
  border: 3px dashed var(--light);
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
}

.project-button:hover {
  border: 3px solid var(--light);
  box-shadow: 0px 0px 10px var(--light);
  transition: all 0.2s ease-in-out;
}

.project-card {
  border-radius: var(--rounded-xl);
  padding: var(--space-6) var(--space-8);
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 950px;
}

.project-card h3 {
  margin-bottom: var(--space-2);
}
.project-card .project-description {
  margin-bottom: var(--space-6);
}
.project-button-active {
  border: 3px solid var(--light);
  box-shadow: 0px 0px 10px var(--light);
}

.project-video {
  width: 100%;
  height: clamp(250px, 40vh, 350px);
  border-radius: var(--space-2);
}

.project-img-preview {
  width: 100%;
  height: clamp(250px, 40vh, 350px);
  object-fit: contain;
}

@media (min-width: 1280px) {
  #projects-container {
    margin-bottom: var(--space-16);
  }

  #projects-container .section-title {
    margin-bottom: var(--space-10);
  }

  #projects {
    flex-direction: row;
    padding: var(--space-2) var(--space-12);
  }

  #project-selection {
    flex-direction: column;
  }

  #line {
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--light);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px var(--light);
    z-index: 0;
    border-radius: var(--rounded-xl);
    opacity: 0.7;
  }

  #project-shape {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background: linear-gradient(135deg, var(--primary), var(--light));
    border-radius: 50% 70% 60% 40% / 40% 60% 70% 50%;
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-video {
    height: 350px;
    border-radius: var(--space-2);
  }

  .project-img-preview {
    height: 350px;
    object-fit: contain;
  }
}
