
#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto 2.5rem;
}

.skill-card {
  border-radius: 15px;
  padding: 0rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  box-shadow: 6px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--card);
  border: 0.1rem solid transparent;
  border-top: 5px solid var(--secondary);
}

.skill-card img {
  width: 2.25rem;
}

.skill-card:hover {
  box-shadow: 6px 8px 0px var(--secondary);
  transition: box-shadow 0.3s ease-in-out;
}

.skill-card h3{
  margin-top: 1.875rem;
}

.skill-card p{
  margin-top: 0;
}

.progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  gap: 5px;
}

.segment {
  flex: 1;
  background-color: var(--fg);
  border-radius: 5px;
}

.level-active {
  background-color: var(--secondary);
}

.beginner-text::after {
  content: "Beginner";
  font-size: 12px;
  display: block;
  margin-top: 1rem;
}
.intermediate-text::after {
  content: "Medium";
  font-size: 12px;
  display: block;
  margin-top: 1rem;
}
.advanced-text::after {
  content: "Advanced";
  font-size: 12px;
  display: block;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-items: start;
    margin: auto 1.5rem;
  }
  .skill-card {
    height: auto;
    padding-bottom: 1rem;
    border-top: 0.3rem solid var(--secondary);
    border-radius: 0.5rem;
    margin-top: 0;
    padding: 0.75rem;
  }
  .skill-card img {
    width: 1.875rem;
  }
  .skill-card p, .skill-card span{
    font-size: 0.875rem;
  }
  .skill-card h3{
  margin-top: 0rem;
  }
  /* **TEST LATER**
  .skill{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  } */
}