#skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto 2.5rem;
}

#skills .section-title {
  grid-column: 1/-1;
}

.skill-card {
  border-radius: 1rem;
  padding: 0rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  box-shadow: 6px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--bg);
  border: 0.1rem solid transparent;
  border-top: 5px solid var(--primary);
}

.skill-card img {
  width: 2.25rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill-card:hover {
  box-shadow: 6px 8px 0px var(--primary);
  transition: box-shadow 0.3s ease-in-out;
}

.skill-card h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Exo2";
}

.skill-card h3 ~ p {
  margin-bottom: 2rem;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1rem;
  color: var(--text-muted);
}

.skill-list-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  gap: 5px;
}

.segment {
  flex: 1;
  background-color: var(--text-muted);
  border-radius: 5px;
}

.level-active {
  background-color: var(--primary-light);
}

.beginner-text::after {
  content: "Beginner";
  font-size: 12px;
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.intermediate-text::after {
  content: "Medium";
  font-size: 12px;
  display: block;
  margin-top: 1rem;
  text-align: center;
}
.advanced-text::after {
  content: "Advanced";
  font-size: 12px;
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.skill-icon-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

#utilities-skills {
  grid-column: 2;
}

@media (max-width: 768px) {
  #skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-items: start;
    margin: auto 1.5rem;
  }
  .skill-card {
    height: auto;
    padding-bottom: 1rem;
    border-top: 0.3rem solid var(--primary);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.75rem;
  }
  .skill-card img {
    width: 1.875rem;
  }
  .skill-card p,
  .skill-card span {
    font-size: 16px;
  }
  .skill-card h3 {
    margin-top: 0.5rem;
  }
  .skill-card h3 ~ p {
    margin-bottom: 1.5rem;
  }
  #utilities-skills {
    grid-column: auto;
  }
}
