.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: var(--primary);
}
.text-primary-dark {
  color: var(--primary-dark);
}
.text-primary-light {
  color: var(--primary-light);
}

.text {
  color: var(--text);
}
.text-muted {
  color: var(--text-muted);
}

.text-light{
  color: var(--light);
}

.bg-dark {
  background-color: var(--bg-dark);
}
.bg {
  background-color: var(--bg);
}
.bg-light {
  background-color: var(--bg-light);
}

.bg-full-dark{
  background-color: var(--dark);
}

.pointer {
  cursor: pointer;
}

.font-exo2 {
  font-family: "Exo2";
}

.font-figtree {
  font-family: "Figtree";
}

.rounded {
  border-radius: 1rem;
}

.w-max {
  width: 100%;
}

.h-max {
  height: 100%;
}
