@media (max-width: 768px) {

    body{
        font-size: 0.8rem;
    }
    #navbar-desktop{
        display: none;
    }
    #hero-section{
        margin-top: 1rem;
        gap: 0rem;
        margin-bottom: 0rem;
        margin: 1rem 1.5rem 0rem 1.5rem;
        padding: 1rem
    }
    #hero-text{
        margin: 0 0.2rem;
        text-align: center;
        font-size: 1rem;
        padding: 15px;
    }
    #profile-pic{
        width: 10rem;
    }
    #hero-title{
        font-size: 1.7rem;
    }
    #presentation-text{
        text-align: center;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1rem;
    }

    #profile-pic{
        width: 7rem;
        height: auto;
    }

    #navbar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        font-family: 'Exo2';
        flex-wrap: wrap;
        padding: 0px 10px;
        background-color: #1b1a1a;
        color: var(--fg);
        border-bottom: 7px solid var(--secondary);
        z-index: 2;
    }
    #menu-mobile{
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100%;
        background-color: var(--dark-gray);
        color: white;
        border-right: 7px solid var(--secondary);
        transition: transform 0.3s ease-in-out;
        z-index: 10;
    }
    #skills{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        align-items: start;
        margin: auto 1rem;
    }
    .skill-card{
        height: auto;
        padding-bottom: 1rem;
        border-top: 0.3rem solid var(--secondary);
        border-radius: 0.5rem;
    }
    .skill-card img{
    width: 3rem;
    }
    .moon-icon{
        width: 3.5rem;
    }
    .sun-icon{
        width: 3.5rem;
    }

    #projects{
        flex-direction: column;
        align-items: center;
        height: 50vh;
        gap: 2rem;
        margin: auto 1.5rem;
    }
    #project-selection{
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 0;
    }
    #line{
        display: none;
    }
    
    #project-cards-container{
        width: 100%;
        padding: 0.2rem;
        flex-grow: 1;
        justify-content: center;
    }

    .project-button{
        font-size: 1rem;
    }

    #project-shape{
        display: none;
    }
    

    #contact-section{
        margin: 1rem auto;
    }
    #form{
        gap: 0.5rem;
    }
    #submit-btn{
        padding: 0.5rem 2rem; 
        font-size: 0.9rem;
    }
    .field-div{
        font-size: 0.9rem;
    }
    #form input, #form textarea{
        font-size: 0.8rem;
        padding: 0.4rem;
    }

}