@media (max-width: 640px) {

    body{
        font-size: 0.8rem;
    }
    #main-container{
        margin: auto 1rem;
    }
    
    #navbar-desktop{
        display: none;
    }
    #hero-section{
        margin-top: 1rem;
    }
    #hero-text{
        margin: 0 0.9rem;
        text-align: center;
        font-size: 1rem;
    }
    #profile-pic{
        width: 10rem;
    }
    #hero-title{
        font-size: 1.7rem;
    }

    #profile-pic{
        width: 7rem;
    }

    #navbar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        font-family: 'Exo2';
        flex-wrap: wrap;
        padding: 0px 10px;
        background-color: #1b1a1a;
        color: var(--fg);
        border-bottom: 7px solid var(--secondary);
        
    }
    #menu-mobile{
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100%;
        background-color: var(--dark-gray);
        color: white;
        border-right: 7px solid var(--secondary);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }
}