@media (max-width: 768px) {

    body{
        font-size: 0.8rem;
    }
    #main-container{
        margin: auto 1rem;
    }
    
    #navbar-desktop{
        display: none;
    }
    #hero-section{
        margin-top: 1rem;
        gap: 0rem;
        margin-bottom: 0rem;
    }
    #hero-text{
        margin: 0 0.9rem;
        text-align: center;
        font-size: 1rem;
        padding: 15px;
    }
    #profile-pic{
        width: 10rem;
    }
    #hero-title{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1rem;
    }

    #profile-pic{
        width: 7rem;
    }

    #navbar-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        font-family: 'Exo2';
        flex-wrap: wrap;
        padding: 0px 10px;
        background-color: #1b1a1a;
        color: var(--fg);
        border-bottom: 7px solid var(--secondary);
        
    }
    #menu-mobile{
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100%;
        background-color: var(--dark-gray);
        color: white;
        border-right: 7px solid var(--secondary);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }
    #skills{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
    .skill-card{
        height: auto;
        padding-bottom: 1rem;
    }
    .skill-card img{
    width: 3rem;
}
    .moon-icon{
        width: 3.5rem;
    }
    .sun-icon{
        width: 3.5rem;
    }
}