:root{
    --bg:#f1f3ef;
    --primary:#e9e9e3;
    --secondary: #958bd6;
    --fg: #2C2C2C;
    --secondary-fg: #767383;
    --dark : #2C2C2C;
    --light: #ffffff;
    --dark-gray: #3c3a43;
    --card: #f3f3f3;
}

[data-theme="dark"]{
    --bg:#2C2C2C;
    --primary:#232323;
    --secondary: #eb4c5f;
    --fg: #ededea;
    --secondary-fg: #edd4d1;
    --card: #242323;
}

@font-face{
    font-family: 'Exo2';
    src: url('fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Figtree';
    src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body{
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Figtree';
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

#navbar-desktop{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Exo2';
    flex-wrap: wrap;
    padding: 0px 10px;
    background-color: #1b1a1a;
    color: var(--fg);
    border-bottom: 7px solid var(--secondary);
}

#navbar-mobile{
    display: none;
}
#menu-mobile{
    display: none;
}

.pointer{
    cursor: pointer;
}

.navbar-item{
    text-decoration: none;
    color: var(--light);
    padding: 4px 10px;
    border-radius: 10px;
}
.navbar-item:hover{
    background-color: var(--dark-gray);
}

.toggle-icon{
    display: none;
    object-fit: contain;
    object-position: center;
    width: 2.5rem
}
.toogle-icon:hover{
    scale: 1.1;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    margin: auto 3rem;
}

#hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    gap:1rem
}

#profile-pic{
    width: 12rem;
    height: auto;
    border-radius: 100%;
}

.neon-secondary{
    text-shadow: 
        0 0 0px var(--secondary),
        0 0 10px var(--secondary)
}

#hero-text{
    flex: 1;             
    min-width: 200px;  
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;;
    font-size: 1.1rem;
}
.language-switcher{
    color: var(--light);
    background-color: var(--dark-gray);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Exo2';
    text-transform: uppercase;
    border: 2px solid var(--dark-gray);
}

.language-switcher:focus {
  border: 2px solid var(--secondary);
  accent-color: var(--secondary);
}

.card{
    background-color: var(--card);
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-card{
    border-radius: 15px;
    padding: 0rem 1rem;
    border: 3px solid var(--secondary);
    background-color: var(--card);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.underline{
    text-decoration: 2px underline;
    text-underline-offset: 5px;
}

.progress{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    gap: 5px;
}

.segment{
    flex: 1;
    background-color: var(--fg);
    border-radius: 5px;
}

.level-active{
    background-color: var(--secondary);
}

.beginner-text::after { content: "Beginner"; font-size: 12px;  display: block; margin-top: 1rem;  }
.intermediate-text::after { content: "Medium"; font-size: 12px;  display: block; margin-top: 1rem; }
.advanced-text::after { content: "Advanced"; font-size: 12px;  display: block; margin-top: 1rem; }