:root{
    --bg:#f1f3ef;
    --primary:#e9e9e3;
    --secondary: #958bd6;
    --fg: #2C2C2C;
    --secondary-fg: #767383;
    --dark : #2C2C2C;
    --light: #f9f5f5;
    --dark-gray: #3c3a43;
    --card: #f9f9f9;
    --hero-section-bg: #ecece5;
    --secondary-bg : #7A85C1;
    --form-field-bg: #f5f5f5fb;
}

[data-theme="dark"]{
    --bg:#2C2C2C;
    --primary:#232323;
    --secondary: #eb4c5f;
    --fg: #ededea;
    --secondary-fg: #d2cfcf;
    --card: #383838;
    --hero-section-bg: #232323;
    --secondary-bg : #d74455;
}

@font-face{
    font-family: 'Exo2';
    src: url('fonts/Exo_2/Exo2-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Figtree';
    src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body{
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Figtree';
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

#navbar-desktop{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Exo2';
    flex-wrap: wrap;
    padding: 0px 10px;
    background-color: #1b1a1a;
    color: var(--fg);
    border-bottom: 7px solid var(--secondary);
    opacity: 0.9;
}

#navbar-mobile{
    display: none;
}
#menu-mobile{
    display: none;
}

.pointer{
    cursor: pointer;
}

.navbar-item{
    text-decoration: none;
    color: var(--light);
    padding: 4px 10px;
    border-radius: 10px;
}
.navbar-item:hover{
    background-color: var(--dark-gray);
}

.toggle-icon{
    display: none;
    object-fit: contain;
    object-position: center;
    width: 2.5rem
}
.toogle-icon:hover{
    scale: 1.1;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    /*margin: auto 3rem;*/
}

#hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--card);
    gap:1rem;
    margin: 2.5rem 3rem 5rem 3rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-right: solid 0.4rem var(--secondary);
    
}

#hero-button{
    align-self: start; 
    padding: 0.5rem 1rem;
    outline:none;
    border: none;
    color: var(--light);
    background-color: var(--dark);
    font-family: "Exo2";
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border: 2px solid var(--bg);
    opacity: 0.9
}

#hero-button:hover{
    background-color: var(--secondary);
    box-shadow: 5px 8px 0px var(--secondary);
    transition: all 0.2s ease-in-out;
    
}

#profile-pic{
    width: 15rem;
    height: 20rem;
    border-radius: 100%;
    padding: 0 1rem;
    z-index: 1;
    position: relative;
}

.neon-secondary{
    text-shadow: 
        0 0 0px var(--secondary),
        0 0 10px var(--secondary)
}

#hero-text{
    flex: 1;             
    min-width: 200px;  
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;;
    font-size: 1.1rem;
}
#presentation-text{
    letter-spacing: 1.5px;
}
.language-switcher{
    color: var(--light);
    background-color: var(--dark-gray);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Exo2';
    text-transform: uppercase;
    border: 2px solid var(--dark-gray);
}

.language-switcher:focus {
  border: 2px solid var(--secondary);
  accent-color: var(--secondary);
}

.card{
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
}

#skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto 2.5rem;
}

.skill-card{
    border-radius: 15px;
    padding: 0rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 6px 8px 0px rgba(0, 0, 0, 0.1);
    background-color:  var(--card);
    border: 0.1rem solid transparent;
    border-top: 5px solid var(--secondary);
}

.skill-card img{
    width: 2.5rem;
}

.skill-card:hover{
    box-shadow: 6px 8px 0px var(--secondary);
    transition: box-shadow 0.3s ease-in-out;
}

.underline{
    text-decoration: 2px underline;
    text-underline-offset: 5px;
}

.progress{
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin: 1rem;
    display: flex;
    gap: 5px;
}

.segment{
    flex: 1;
    background-color: var(--fg);
    border-radius: 5px;
}

.level-active{
    background-color: var(--secondary);
}

.beginner-text::after { content: "Beginner"; font-size: 12px;  display: block; margin-top: 1rem;  }
.intermediate-text::after { content: "Medium"; font-size: 12px;  display: block; margin-top: 1rem; }
.advanced-text::after { content: "Advanced"; font-size: 12px;  display: block; margin-top: 1rem; }


#social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: start;
  opacity: 0.9;
  flex-wrap: wrap;
}

#social-icons a {
  color: var(--secondary);
  font-size: 1.8rem;
  transition: transform 0.2s, color 0.3s;
}

#social-icons a:hover {
  transform: scale(1.2);
  color: var(--fg);
}

.shape {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--secondary), var(--card));
  border-radius: 100% 40% 30% 90% / 95% 90% 30% 30%;
  position: absolute; 
  z-index: 0;
  opacity: 0.9;
  inset: 0;
}

#projects-container{
    margin-top: 2rem;
    background-color: var(--secondary-bg);
    width: 100%;
    position: relative;
}

#projects{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 1rem 2.5rem;
    gap: 1rem;
    padding: 1rem 0;
    height: 100%;
}

#project-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    flex-grow: 1;
    z-index: 1; 
}
#line{
    position: absolute;
    content : "";
    width: 3px;
    height: 100%;
    background-color: var(--light);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px var(--fg);
    z-index: 0;
}

#project-selection:hover #line{
    
    transition: all 0.2s ease-in-out;
}

#project-shape {
  width: 80%;
  height: 90%;
  background: linear-gradient(135deg, var(--secondary), var(--light));
  border-radius: 50% 70% 60% 40% / 40% 60% 70% 50%;
  position: absolute; 
  z-index: 0;
  opacity: 0.75;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.project-button{
    background-color: var(--secondary-bg);
    border: none;
    outline: none;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: "Exo2";
    color: var(--light);
    border: 3px dashed var(--light);
    cursor: pointer;
    font-weight: bold;
    z-index: 1;
}

.project-button:hover{
    border: 3px solid var(--light);
    box-shadow: 0px 0px 10px var(--light);
    transition: all 0.2s ease-in-out;
}

#project-cards-container{
    flex-grow: 2;
    padding: 1.5rem;
    position: relative;
    display: flex;
    justify-content: start;
}

.project-card{
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    position : absolute;
    box-shadow:  0 0 25px rgba(0, 0, 0, 0.2);
    width: 80%;
}

.project-button-active{
    border: 3px solid var(--light);
    box-shadow: 0px 0px 10px var(--light);
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.fade-in{
    animation: fadeIn 0.3s ease-in-out;
}

#contact-section{
    margin: 1.5rem auto;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Exo2";
    margin: 1rem 2.5rem
}

.field-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input, textarea{
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: "Figtree";
    font-size: 0.9rem;
    background-color: var(--form-field-bg);
    border: 2px solid transparent;
    width: 100%;
}

input:focus, textarea:focus{
    box-shadow: 0 0 2px var(--secondary);
    border: 2px solid var(--secondary);
}

textarea{
    resize: vertical;
}

#submit-btn{
    outline: none; border:none; 
    padding: 1rem 5rem; 
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--light);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid var(--bg);
    text-transform: uppercase;
    box-shadow: 5px 5px 0 var(--secondary);
}

#submit-btn:hover{
    scale: 1.05;
    background-color: var(--secondary-bg);
    box-shadow: 5px 5px 0 var(--secondary-bg);
    transition: all 0.2s ease-in-out;
}

#submit-btn:active{
    box-shadow: 1px 1px 0 var(--secondary);
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
}

#message-result{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--card);
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
}

#close-message-btn{
    position: absolute;
    top: 2px;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary);
}

#close-message-btn:hover{
    color: var(--fg);
    transition: all 0.2s ease-in-out;
}

#success-icon, #error-icon{
    font-size: 1.5rem;
    display: none;
}

#success-icon{
    color: green;
}

#error-icon{
    color: red;
}

#about{
    margin: auto 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

#about-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

#about-text{
    font-family: "Exo2";
}


#about-icons-container{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2),
    -7px -7px 0 var(--secondary);
    background-color: var(--light);
}

#dark{
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 1rem 100% 1% 1rem / 1rem 100% 1% 1rem;
    color: var(--light);
    font-size: 2rem;
}

#light{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: var(--light);
    border-radius: 0 1rem 1rem 0;
    color: var(--dark);
    font-size: 2rem;
}

#pencil-icon{
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateY(50%) rotate(260deg);
}
#paint-icon{
    position: absolute;
    top: 30%;
    right: 40%;
    transform: translateY(-35%) rotate(260deg);
}
#mobile-icon{
    position: absolute;
    bottom: 20%;
    left: 20%;
    transform: translateY(50%) rotate(340deg);
}
#laptop-icon{
    position: absolute;
    bottom: 15%;
    right: 15%;
    transform: rotate(20deg);
}

#ruler-icon{
    position: absolute;
    left: 25%;
    top: 45%;
    transform: rotate(20deg);
}

#terminal-icon{
    position: absolute;
    top: 20%;
    left: 45%;
    transform: rotate(-15deg);
}

#database-icon{
    position: absolute;
    top: 60%;
    left: 10%;
    transform: rotate(-20deg);
}
#server-icon{
    position: absolute;
    top: 7%;
    left: 0;
}
#cogs-icon{
    position: absolute;
    bottom: 10%;
    right: 35%;
    transform: rotate(20deg);
}
#network-icon{
    position: absolute;
    top: 42%;
    right: 20%;
}


#footer{
    margin-top: 2rem;
    background-color: var(--primary);
    width: 100%;
}